In [1]:
import findspark
from pyspark.sql import SparkSession
findspark.init()

In [3]:
spark = SparkSession.Builder().master("local[4]").getOrCreate()

In [4]:
spark

In [6]:
df = spark.createDataFrame(
    data = [['python', '数据分析'],
           ['pyspark', '大数据']], schema=('name', 'type'))
df.show()

+-------+--------+
|   name|    type|
+-------+--------+
| python|数据分析|
|pyspark|  大数据|
+-------+--------+

In [8]:
import numpy as np
import pandas as pd
pd_df = pd.DataFrame(np.random.rand(100,3))
pd_df.head(10)

          0         1         2
0  0.939460  0.565667  0.658901
1  0.286262  0.603276  0.650860
2  0.162529  0.878573  0.879216
3  0.086172  0.299153  0.870567
4  0.428694  0.582048  0.976415
5  0.153892  0.517789  0.643996
6  0.963674  0.538975  0.117276
7  0.868412  0.726616  0.732322
8  0.640777  0.310180  0.639363
9  0.524878  0.606491  0.357654

In [12]:
spark_df = spark.createDataFrame(pd_df)
spark_df.show(10)

+-------------------+-------------------+-------------------+
|                  0|                  1|                  2|
+-------------------+-------------------+-------------------+
| 0.9394598643071385|  0.565667000969037| 0.6589011900440376|
| 0.2862623330200126| 0.6032764241179767| 0.6508598815338381|
| 0.1625286214205487| 0.8785733811997644|  0.879216373145288|
|0.08617229076732713|0.29915323421090334| 0.8705672930172104|
|0.42869350228632463| 0.5820482085033952|  0.976414566280112|
|0.15389201106742423| 0.5177890873598645|  0.643995638660167|
| 0.9636744372479848| 0.5389749380483806| 0.1172762365119685|
| 0.8684117917214661| 0.7266160227863697|  0.732321939618439|
| 0.6407768323217602| 0.3101802774368758| 0.6393627258311204|
| 0.5248781432631454| 0.6064906346644965|0.35765394710818843|
+-------------------+-------------------+-------------------+
only showing top 10 rows

In [13]:
pd_df2 = spark_df.select("*").toPandas()
pd_df.head(10)

          0         1         2
0  0.939460  0.565667  0.658901
1  0.286262  0.603276  0.650860
2  0.162529  0.878573  0.879216
3  0.086172  0.299153  0.870567
4  0.428694  0.582048  0.976415
5  0.153892  0.517789  0.643996
6  0.963674  0.538975  0.117276
7  0.868412  0.726616  0.732322
8  0.640777  0.310180  0.639363
9  0.524878  0.606491  0.357654